<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
<div class="form-group">
  <label for="name">Name</label>
  <input type="text"
         class="form-control"
         id="name"
         formControlName="name">
</div>
<div class="form-group">
  <label for="username">Username</label>
  <input type="text"
         class="form-control"
         id="username"
         formControlName="username">
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password"
         class="form-control"
         id="password"
         formControlName="password">
</div><div class="form-group">
  <label for="email">Email</label>
  <input type="email"
         class="form-control"
         id="email"
         formControlName="email">
</div>
  <button type="submit" class="btn btn-outline-success">Save</button>
  <a routerLink="/user-profile" class="btn btn-default">Cancel</a>
</form>
